body{
  background-color: #ebebfb;
}    
    @media only screen and (max-width: 460px){
                body{
                    width: 360px;
                    padding: 0;
                    margin: 0;
                }
                div.card{
                  width: 65%;
                  height: 250px;
                  margin: 36% auto;
                  background: white;
                  padding: 20px;
                  border-radius: 12px;
                  box-shadow: 1px 1px 2px #A3A9EF;
                }
                h1.judul{
                  font-family: 'Poppins', sans-serif;
                  text-align: center;
                  font-size: 25px;
                  color: #4C5AF5;
                }
                div.strip{
                  background: #6D77EA;
                  height: 8px;
                  border-radius: 8px;
                  width: 26px;
                  margin: 10px auto;
                }
                body * p{
                  font-family: 'Poppins', sans-serif;
                  text-align: center;
                  font-size: 8px;
                  font-weight: 600;
                  margin: 0 5px;
                  color: #A0A0A6;
                }
                div.card img{
                  width: 70%;
                  height: 130px;
                  margin-left: 15%;
                }
                h2.sub-judul{
                  font-family: 'Nunito', sans-serif;
                  text-align: center;
                  font-size: 12px;
                  top: -10px;
                  font-weight: 800;
                  color: #8F98FF;
                }
                div.mobile {
                    display: block;
                }
                div.desktop{
                    display: none;
                }
                div.floating{
                  height: 120px;
                  width: 120px;
                  background: #757FE7;
                  position: absolute;
                  top: 105px;
                  left: 20px;
                  z-index: -88;
                  border-radius: 12px;
                  box-shadow: inset 0 0 5px #6272F7,
                                    0 0 5px #3146ff; 
                }
                div.second-float {
                  height: 120px;
                  width: 120px;
                  position: absolute;
                  box-shadow: inset 0 0 5px #6272F7,
                                    0 0 5px #3146ff;
                  background: #757FE7;
                  bottom: 120px;
                  left: 220px;
                  z-index: -88;
                  border-radius: 12px;
                }
            }
            @media only screen and (min-width: 880px){
                body{
                    width: 1200px;
                }
                div.mobile{
                    display: none;
                }
                
            }
